/vendor
/node_modules
/storage
Homestead.yaml
Homestead.json
composer.lock
/public/files/41633038807
/public/files/78777357078
.env
.env-dev
.env-prod
.htaccess
.htaccess2
.htaccess_server
index.php
composer.lock
