/vendor
/node_modules
/storage
Homestead.yaml
Homestead.json
composer.lock
/public/files
.env
.env-dev
.env-prod
.htaccess
.htaccess2
.htaccess_server
index.php
index_old.php
server.php
composer.lock
